
<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10">
    <ul class="list-unstyled">
      
      
      <!--custom search for combination np. title & name, 
      filter only by searchTitleContent is true or not
      
      todo: make it checkboxes order by
      filter by categories func?
      
      orderBy:'-title.rendered'
      
      -->      
      <li ng-repeat="
        post in CR.posts|
        filter:CR.searchTitleContent|
        orderBy:'title.rendered'|
        limitTo:50 track by $index"
      >
        
      
      <div ng-if="$even" class="col-sm-12 col-md-4 col-md-offset-1">
        <div class="well clearfix _well">    
          <div class="media">
            <div class="media-left media-middle">
              <a href="{{post.thumb100x100Url}}">
                <img class="media-object thumb100" ng-src="{{post.thumb100x100Url}}" alt="yo">
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading">{{post.title.rendered}} {{$index}}</h5>
            </div>
          </div>
          <small ng-if="!$last" ng-repeat="cat in post.cats" class="cat-label">{{cat.name}}&nbsp;
          </small>
          <small ng-if="$last" ng-repeat="cat in post.cats" class="cat-label">{{cat.name}}
          </small>
        </div>
      </div>
        
      <div ng-if="$odd" class="col-sm-12 col-md-4 col-md-offset-2">
        <div class="well clearfix _well">    
          <div class="media">
            <div class="media-left media-middle">
              <a href="{{post.thumb100x100Url}}">
                <img class="media-object thumb100" ng-src="{{post.thumb100x100Url}}" alt="yo">
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading">{{post.title.rendered}} {{$index}}</h5>
            </div>
          </div>
          <small ng-if="!$last" ng-repeat="cat in post.cats" class="cat-label">{{cat.name}}&nbsp; 
          </small>
          <small ng-if="$last" ng-repeat="cat in post.cats" class="cat-label">{{cat.name}}
          </small>
        </div>
      </div>
        
        
      </li>
    </ul>  
  </div>
</div>


